<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/whatTheDuck101"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/elizabeth-creary-766b42131/"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
